// Place all the styles related to the mcds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.mcd1{display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
  }

.mcd{
  display:flex;
  justify-content: center;
  width: 50%;
  flex-flow: column;
  text-align: center;
  margin-top: 50px;
  }

  .mcd4{
    display:flex;
    justify-content: center;
    margin-top: 20px;
  }
.mcd2{
  padding-left: 50px;
}

.top{text-align: center;
margin-top: 100px;}
    
.top2{text-align: center;
margin-top: 100px;
margin-bottom: 100px;}

.field{text-align: center;}

.field1{text-align: center;
margin: 30px;}

.form-group{margin-left: 47%;}

.field2{text-align: center;}




  