// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.mcd6{display:flex;
    justify-content: center;
    width: 50%;
    flex-flow: column;
    text-align: center;
    margin-top: 20px;
    
}

.mcd9{display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
margin: 100px;
;
}

.mcd7{padding: 10px;}

.mcd8{text-align: center;}